.descriptionContainer {
  display: flex;
  align-items: space-around;
  width: 100%;
}
.description,
.editAndDelete {
  display: flex;
  width: 50%;
  align-items: flex-end;
  flex-direction: column;
}
.description {
  align-items: flex-start;
}
